<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fearking.shopkart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dev"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Retailer_after_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Location_after_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerPersonalDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CustomerAddressRegister"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ShopHere"
            android:label="@string/title_activity_product"
            android:parentActivityName=".Location_after_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fearking.shopkart.Location_after_login" />
        </activity>
        <activity
            android:name=".Recovery_Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentGateway"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmationPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DummyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".OrderDetails"></activity>
    </application>

</manifest>